= link_to "View Open Questions", lawyers_questions_path, class: 'btn btn-primary'
%h1.text-center.mb-4 Your Answered Questions
- if @questions.any?
  = render 'list', questions: @questions
  .d-flex.justify-content-center.mt-2
    != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
- else
  %h5 No Answered questions at the moment.
