= link_to "Answered Questions", answered_lawyers_questions_path, class: 'btn btn-primary'
%h1.text-center.mb-4 Open Legal Questions
- if @questions.any?
  = render 'list', questions: @questions
  .d-flex.justify-content-center.mt-2
    != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
- else
  %h5 No open questions at the moment.
