= link_to "Ask a Question", new_clients_question_path, class: 'btn btn-primary'
- if @questions.any?
  %h1.text-center.mb-4 Recent Questions
  #questions.list-group
    = render partial: "question", collection: @questions, as: :question
  #next_link.mt-2
    = link_to "Load More", pagy_url_for(@pagy, @pagy.next), data: { turbo_stream: true }, class: 'btn btn-primary'       
- else
  %h3.text-center.mb-4 No questions at the moment.