= render 'common/question_details', question: @question
- if @answers.any?
  = render 'common/answer_list', answers: @answers, question: @question
- else
  %h5 You have not answered this question.
- if @question.open?
  .mt-2
    = link_to "Answer", new_lawyers_question_answer_path(@question), class: 'btn btn-primary'
.mt-2
  = link_to "View Open Questions", lawyers_questions_path, class: 'btn btn-primary'